@model VR.OracleProvider.OracleEntities.TRUCK
    <div id="truckinfo">
        <h3>Thông tin phương tiện</h3>
        <span id="TRK_TYPE">Loại phương tiện: @Model.TRK_TYPE</span><br />
        <span id="TRK_NO">Loại phương tiện: @Model.TRK_NO</span><br />
        <span id="KERB_MASS">Số lượng chở: @Model.KERB_MASS</span><br />
        <span id="NET_OVERWEI">Khối lượng bản thân: @Model.NET_OVERWEI</span><br />
        <span id="TRK_AXLE">Số trục: @Model.TRK_AXLE</span><br />
        <span id="DATE_CHECK">Ngày kiểm định: @Model.DATE_CHECK</span><br />
        <span id="GCN_STAMP">Số tem: @Model.GCN_STAMP</span><br />
    </div>
